@{
    ViewData["Title"] = "Crear Cuenta";
}

<form method ="post">
  
    <input type="text" name="Nombre_Cuenta" placeholder="Nombre Cuenta" /> <br />
    <input type="text" name="Apellido_Cuenta" placeholder="Apellido Cuenta" /> <br />
    <input type="password" name="Password_Cuenta" placeholder="Password Cuenta "/> <br />
    <input type="email" name="Correo_Cuenta" placeholder="Correo Cuenta "/> <br />


    <button class ="btn btn-primary"> Ingresar </button>
</form>