@{
    ViewData["Title"] = "Restaurante Page";
}


<form asp-controller="Restaurante" asp-action="Plato" method="get">
    <button class="btb btb-primary btn-lg"> Platos </button>

</form>

<form asp-controller="Administrador" asp-action="Login" method="get">
    <button class="btb btb-primary btn-lg"> Login </button>

</form>