
@{
    ViewData["Title"] = "Pedido";
}


<form method ="post">
    <input type="text" name="Numero_Tarjeta" placeholder="Numero_Tarjeta" /> 
    <input type="text" name="FechaCadu_Tarjeta" placeholder="FechaCadu_Tarjeta" />
    <input type="text" name="Nom_Propietario" placeholder="Nom_Propietario" /> 

    <br />
    <input type="text" name="DNI_Cliente_Rceiv" placeholder="DNI o NIE" /> <br />
    <input type="text" name="Nombre_Cliente_Rec" placeholder="Nombre" /> <br />
    <input type="text" name="Municipal" placeholder="Municipal "/> <br />
    <input type="text" name="Provincia" placeholder="Provincia "/> <br />
    <input type="text" name="Nombre_Direccion" placeholder="Nombre_Direccion "/> <br />
    <input type="text" name="Telefono_Cliente" placeholder="Telefono_Cliente "/> <br />

    <button class ="btn btn-primary"> Ingresar </button>
</form>

